<div class="single-view">
  <div class="current-Photo-Info">
    <h1 class="single-header">{{single.title}} - {{single.author}}</h1>
    <div class='each-photo' style="background: url({{single.imgUrl}}) no-repeat center; background-size: cover;"></div>
    <p class="article-body">{{single.description}}</p>
  </div>

  <div class="otherPhotos">
    {{#each photos}}
      <div class="sidelist">
        <a href="/gallery/{{id}}" class='linkButtons'><div class='each-photo' style="background: url({{imgUrl}}) no-repeat center; background-size: cover;"></div></a>
        <h3>Title: {{title}} - Author: {{author}}</h3>
      </div>
    {{/each}}
  </div>
</div>